@charset "utf-8";

.cmn-section {
  padding-top: 60px;
}
.black {
  background-color: cl(black);
}
.cmn-txt {
  text-align: center;
  color: cl(white);
  margin-bottom: 60px;
}
.cmn-ttl {
  font-size: 32px;  
  margin-bottom: 40px;
  // display: inline-block;
}
.cmn-summary {
  font-size: 20px;
  // display: inline-block;
}
.cmn-link {
  width: 155px;
  height: 37px;
  padding: 10px 20px;
  background: cl(gold);
  margin: 0 auto;
  border-radius: 8px;
  // display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: cl(white);
  text-align: center;
}
