@charset "utf-8";

#footer {
  background: cl(primary);  
  padding-bottom: 42px;
  .footer-nav-wrap {
    margin-bottom: 70px;
    padding-top: 60px;
    .footer-nav {
      .footer-nav-list {
        display: block;
        text-align: center;
        @include overTab {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .footer-nav-item {
          &:not(:last-of-type) {
            margin-bottom: 20px;
            margin-right: 0;
            @include overTab {
              margin-right: 70px;
              margin-bottom: 0;
            }
          }
          .footer-nav-link {
            color: cl(white);
            font-size: 16px;
          }
        }
      }
    }
  }
  .footer-image {
    width: 188px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .copyright {
    color: cl(white);
    text-align: center;
  }
}